.Ellipse-1 {
  z-index: 6;
  pointer-events: none;
  margin-left: 0px;
  width: 1700px;
  height: auto;
  margin-top: 0px;
  min-height: 308px;
}

.Envie-de-faire-parti {
  z-index: 12;
  pointer-events: none;
  margin-left: 0px;
  width: 1154px;
  min-width: 1154px;
  min-height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}
.Envie-de-faire-parti-outer {
  pointer-events: none;
  z-index: 12;
  position: relative;
  display: flex;
  justify-content: center;
}
.Group-11 {
  position: relative;
  z-index: 13;
  pointer-events: none;
  margin-left: 0px;
  width: 863px;
  min-width: 863px;
  height: 75px;
  min-height: 75px;
}
.Group-11-outer {
  pointer-events: none;
  z-index: 13;
  position: relative;
  display: flex;
  justify-content: center;
}
.Group-10 {
  position: relative;
  z-index: 17;
  pointer-events: none;
  margin-left: 0px;
  width: 520px;
  min-width: 520px;
  height: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 75px;
}
.Group-10-outer {
  pointer-events: none;
  z-index: 17;
  position: relative;
  display: flex;
  justify-content: center;
}
.Adresse-e-mail {
  position: relative;
  z-index: 19;
  pointer-events: none;
  margin-left: 0px;
  width: 149px;
  min-width: 149px;
  min-height: 27px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.Adresse-e-mail-outer {
  pointer-events: none;
  z-index: 19;
  position: relative;
  display: flex;
  justify-content: center;
}
.Rectangle-61-1 {
  position: relative;
  z-index: 18;
  pointer-events: none;
  margin-left: 0px;
  width: 520px;
  min-width: 520px;
  height: 75px;
  min-height: 75px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  border-radius: 10px;
  visibility: hidden;
}
.Rectangle-61-1-outer {
  pointer-events: none;
  z-index: 18;
  position: relative;
  display: flex;
  justify-content: center;
}
.Group-9-1 {
  position: relative;
  z-index: 14;
  pointer-events: none;
  margin-left: 0px;
  width: 322px;
  min-width: 322px;
  height: 75px;
  min-height: 75px;
}
.Group-9-1-outer {
  pointer-events: none;
  z-index: 14;
  position: relative;
  display: flex;
  justify-content: center;
}
.Rectangle-61-2 {
  position: relative;
  z-index: 15;
  pointer-events: none;
  margin-left: 0px;
  width: 315px;
  min-width: 315px;
  height: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 75px;
  background-color: rgba(255, 82, 146, 1);
  border-radius: 40px;
}
.Rectangle-61-2-outer {
  pointer-events: none;
  z-index: 15;
  position: relative;
  display: flex;
  justify-content: center;
}
.Recevoir-le-cours {
  position: relative;
  z-index: 16;
  pointer-events: none;
  margin-left: 0px;
  width: 274px;
  min-width: 274px;
  min-height: 45px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}
.Recevoir-le-cours-outer {
  pointer-events: none;
  z-index: 16;
  position: relative;
  display: flex;
  justify-content: center;
}
.Rectangle-65 {
  position: relative;
  z-index: 3;
  pointer-events: none;
  margin-left: 0px;
  width: 1440px;
  min-width: 1440px;
  height: 256px;
  min-height: 256px;
  background-color: rgba(191, 211, 255, 1);
}
.Rectangle-65-outer {
  pointer-events: none;
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: center;
}
.Pourquoi-suivre-ce-c {
  position: relative;
  z-index: 24;
  pointer-events: none;
  margin-left: 0px;
  width: 462px;
  min-width: 462px;
  min-height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 82, 146, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}
.Pourquoi-suivre-ce-c-outer {
  pointer-events: none;
  z-index: 24;
  position: relative;
  display: flex;
  justify-content: center;
}
.imageCour {
  display: flex;
  justify-content: center;
}
.Ellipse-4 {
  display: block;
  z-index: 26;
  pointer-events: none;
  width: 92px;
  height: 92px;
}
.Ellipse-3 {
  display: block;
  z-index: 26;
  pointer-events: none;
  width: 92px;
  min-width: 92px;
  height: 92px;
  margin-top: -1070px;
  min-height: 92px;
}
.Ellipse-2 {
  z-index: 25;
  pointer-events: none;
  margin-left: 0px;
  width: 92px;
  min-width: 92px;
  height: 92px;
  min-height: 92px;
}
.Lorem-ipsum-dolor-si-2 {
  position: relative;
  z-index: 23;
  pointer-events: none;
  margin-left: 0px;
  width: 316px;
  min-width: 316px;
  min-height: 81px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.Lorem-ipsum-dolor-si-2-outer {
  pointer-events: none;
  z-index: 23;
  position: relative;
  display: flex;
  justify-content: center;
}
.Rectangle-66 {
  position: relative;
  z-index: 4;
  pointer-events: none;
  margin-left: 0px;
  width: 1440px;
  min-width: 1440px;
  height: 289px;
  min-height: 289px;
  background-color: rgba(191, 211, 255, 1);
}
.Rectangle-66-outer {
  pointer-events: none;
  z-index: 4;
  position: relative;
  display: flex;
  justify-content: center;
}
.Comment--a-fonctionn {
  position: relative;
  z-index: 32;
  pointer-events: none;
  margin-left: 0px;
  width: 462px;
  min-width: 462px;
  min-height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 82, 146, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}
.Comment--a-fonctionn-outer {
  pointer-events: none;
  z-index: 32;
  position: relative;
  display: flex;
  justify-content: center;
}
.Lorem-ipsum-dolor-si-1 {
  position: relative;
  z-index: 28;
  pointer-events: none;
  margin-left: 0px;
  width: 1159px;
  min-width: 1159px;
  min-height: 108px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.Lorem-ipsum-dolor-si-1-outer {
  pointer-events: none;
  z-index: 28;
  position: relative;
  display: flex;
  justify-content: center;
}
.Bonus---Faites-parti {
  position: relative;
  z-index: 33;
  pointer-events: none;
  margin-left: 0px;
  width: 699px;
  min-width: 699px;
  min-height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 82, 146, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}
.Bonus---Faites-parti-outer {
  pointer-events: none;
  z-index: 33;
  position: relative;
  display: flex;
  justify-content: center;
}
.Lorem-ipsum-dolor-si {
  position: relative;
  z-index: 29;
  pointer-events: none;
  margin-left: 0px;
  width: 1159px;
  min-width: 1159px;
  min-height: 54px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.Lorem-ipsum-dolor-si-outer {
  pointer-events: none;
  z-index: 29;
  position: relative;
  display: flex;
  justify-content: center;
}
.Group-9 {
  position: relative;
  z-index: 20;
  pointer-events: none;
  margin-left: 0px;
  width: 365px;
  min-width: 365px;
  height: 75px;
  min-height: 75px;
}
.Group-9-outer {
  pointer-events: none;
  z-index: 20;
  position: relative;
  display: flex;
  justify-content: center;
}
.Rectangle-61 {
  position: relative;
  z-index: 21;
  pointer-events: none;
  margin-left: 0px;
  width: 340px;
  min-width: 340px;
  height: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 75px;
  background-color: rgba(255, 82, 146, 1);
  border-radius: 40px;
}
.Rectangle-61-outer {
  pointer-events: none;
  z-index: 21;
  position: relative;
  display: flex;
  justify-content: center;
}
.Rejoindre-le-groupe {
  width: fit-content;
  padding: 10px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  background-color: rgba(255, 82, 146, 1);
  border-radius: 40px;
}
.Rectangle-64 {
  position: relative;
  z-index: 30;
  pointer-events: none;
  margin-left: 0px;
  width: 1440px;
  min-width: 1440px;
  height: 108px;
  min-height: 108px;
  background-color: rgba(191, 211, 255, 1);
}
.Rectangle-64-outer {
  pointer-events: none;
  z-index: 30;
  position: relative;
  display: flex;
  justify-content: center;
}

.blocAccueil {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.grandVideo {
  margin: 10px;
  height: 304px;
  width: 540px;
  margin: 40px;
  background: #c8c8c8;
  border-radius: 10px;
  justify-content: center;
}
