.Ellipse-1 {
  z-index: 6;
  pointer-events: none;
  margin-left: 0px;
  width: 1700px;
  height: auto;
  margin-top: 0px;
  min-height: 308px;
}

.Rectangle-65 {
  position: relative;
  z-index: 3;
  pointer-events: none;
  margin-left: 0px;
  width: 1440px;
  min-width: 1440px;
  height: 256px;
  min-height: 256px;
  background-color: rgba(191, 211, 255, 1);
}
.Rectangle-65-outer {
  pointer-events: none;
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: center;
}
.Lorem-ipsum-dolor-si-2 {
  position: relative;
  z-index: 23;
  pointer-events: none;
  margin-left: 0px;
  width: 316px;
  min-width: 316px;
  min-height: 81px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.Lorem-ipsum-dolor-si-2-outer {
  pointer-events: none;
  z-index: 23;
  position: relative;
  display: flex;
  justify-content: center;
}
.Rectangle-66 {
  position: relative;
  z-index: 4;
  pointer-events: none;
  margin-left: 0px;
  width: 1440px;
  min-width: 1440px;
  height: 289px;
  min-height: 289px;
  background-color: rgba(191, 211, 255, 1);
}
.Rectangle-66-outer {
  pointer-events: none;
  z-index: 4;
  position: relative;
  display: flex;
  justify-content: center;
}
.Comment--a-fonctionn {
  position: relative;
  z-index: 32;
  pointer-events: none;
  margin-left: 0px;
  width: 462px;
  min-width: 462px;
  min-height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 82, 146, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}
.Comment--a-fonctionn-outer {
  pointer-events: none;
  z-index: 32;
  position: relative;
  display: flex;
  justify-content: center;
}
.Lorem-ipsum-dolor-si-1 {
  position: relative;
  z-index: 28;
  pointer-events: none;
  margin-left: 0px;
  width: 1159px;
  min-width: 1159px;
  min-height: 108px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.Lorem-ipsum-dolor-si-1-outer {
  pointer-events: none;
  z-index: 28;
  position: relative;
  display: flex;
  justify-content: center;
}
.Bonus---Faites-parti {
  position: relative;
  z-index: 33;
  pointer-events: none;
  margin-left: 0px;
  width: 699px;
  min-width: 699px;
  min-height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 82, 146, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}
.Bonus---Faites-parti-outer {
  pointer-events: none;
  z-index: 33;
  position: relative;
  display: flex;
  justify-content: center;
}
.Lorem-ipsum-dolor-si {
  position: relative;
  z-index: 29;
  pointer-events: none;
  margin-left: 0px;
  width: 1159px;
  min-width: 1159px;
  min-height: 54px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.Lorem-ipsum-dolor-si-outer {
  pointer-events: none;
  z-index: 29;
  position: relative;
  display: flex;
  justify-content: center;
}
.Group-9 {
  position: relative;
  z-index: 20;
  pointer-events: none;
  margin-left: 0px;
  width: 365px;
  min-width: 365px;
  height: 75px;
  min-height: 75px;
}
.Group-9-outer {
  pointer-events: none;
  z-index: 20;
  position: relative;
  display: flex;
  justify-content: center;
}
.Rectangle-61 {
  position: relative;
  z-index: 21;
  pointer-events: none;
  margin-left: 0px;
  width: 340px;
  min-width: 340px;
  height: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 75px;
  background-color: rgba(255, 82, 146, 1);
  border-radius: 40px;
}
.Rectangle-61-outer {
  pointer-events: none;
  z-index: 21;
  position: relative;
  display: flex;
  justify-content: center;
}
.Rejoindre-le-groupe {
  width: fit-content;
  padding: 10px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  background-color: rgba(255, 82, 146, 1);
  border-radius: 40px;
}
.Rectangle-64 {
  position: relative;
  z-index: 30;
  pointer-events: none;
  margin-left: 0px;
  width: 1440px;
  min-width: 1440px;
  height: 108px;
  min-height: 108px;
  background-color: rgba(191, 211, 255, 1);
}
.Rectangle-64-outer {
  pointer-events: none;
  z-index: 30;
  position: relative;
  display: flex;
  justify-content: center;
}

.blocAccueil {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
/* Div Video */

.grandVideo {
  margin: 10px;
  height: 304px;
  width: 540px;
  margin: 40px;
  background: #c8c8c8;
  border-radius: 10px;
  justify-content: center;
}
/* */

/* Div Mail */

.blocMail {
  display: flex;
  flex-direction: column;
  background: #bfd3ff;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.titreMail {
  width: 1154px;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  margin-top: 30px;
}

.blocInputMail {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputMail {
  box-shadow: none;
  height: 50px;
  width: 400px;
  border: none;
  border-radius: 5px;
}

.buttonCours {
  width: 315px;
  height: 60px;
  background-color: rgba(255, 82, 146, 1);
  border-radius: 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: Axiforma;
  box-shadow: none;
  margin-left: 20px;
}
/*  */

/* Div Pourquoi suivre ce cours */

.blocSuivreCours {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.titreSuivreCours {
  width: 1154px;
  color: rgba(255, 82, 146, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  margin-top: 30px;
}
.divWrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.ficheSuivreCours {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.imageCours {
  height: 90px;
  width: 90px;
  margin: 10px;
}
.textCours {
  max-width: 300px;
  text-align: center;
  width: 316px;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Axiforma;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
/*  */
